*,
html,
body {
    background-color: burlywood;
    font-family: 'creepster', cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.titlec{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    color: firebrick;
    border-style: groove;
    border-color: firebrick;
    border-width: 1em;
}


.height{
    height:400px; 
}

#display{
    margin: 40px; 
    border-style: dotted;
    border-color: crimson;
}

.input{
    font-size: 3vh;
}


.btn{
   cursor: grab;
    border-radius: 15px; 
    width: 300px; 
    height: 50px; 
    background-color: brown;
    color: cornsilk;
    font-size: 20px;
    margin: 15px; 
}