*,
html,
body {
    background-color: transparent;
    font-family: 'creepster', cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

.titlec{
    margin-top: 1rem;
    margin: 1rem;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    border-style: groove;
    border-color: rgb(2, 18, 34);
    border-width: 1.5em;
    border-right-width: 1rem;
    border-inline-end-width: 2rem;
    background-color: transparent;
}


.height{
    height:400px; 
}

#display{
    margin: 40px; 
}

.too{
    color: azure;
}

.fix{
    color: rgb(0, 0, 0);
    
}
.input{
    font-size: 3vh;
}


.btn{
   cursor: grab;
    border-radius: 15px; 
    width: 300px; 
    height: 50px; 
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    margin: 15px; 
}
.img{
    width:25rem;
    length:25rem;
    background-color: rgb(2, 18, 34);
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 7px 6rem rgb(0, 0, 0) ;
}
.light {
    background-color: rgb(207, 148, 227);
}

.dark {
    background-color: rgb(183, 176, 231);
}:root {
    
    --darker-red: rgb(144, 17, 140); 
    --red: rgb(149, 189, 238);
    --light-red: rgb(255, 100, 206);
    --orange-red: rgb(101, 73, 229);
    --beige: rgb(197, 114, 212);
    --grey: rgb(205, 180, 219);
    --black: black;


    --darker-blue: rgb(155, 107, 227);
    --dark-blue: rgb(175, 90, 149);
    --blue: rgb(183, 54, 174);
    --light-blue: rgb(53,217,245);
    --white: rgb(240,240,240);
}
.btn,
.btn:link,
.btn:visited{
  padding: 1rem 3rem;
  display:inline-block;
  margin: 1rem auto;
  font-size: 1rem;
  border:none;
  border-radius: 7rem;
  transition: all 0.2s;
  background: pink;
}
.btn:hover{
  transform: translateY(5px);
  box-shadow: 0 3px 0.5rem lightskyblue;
}
.btn,
.btn:link,
.btn:visited{
  padding: 1rem 3rem;
  display:inline-block;
  margin: 1rem auto;
  font-size: 1rem;
  border:none;
  border-radius: 7rem;
  transition: all 0.2s;
  background: pink;
}
.btn:hover{
  transform: translateY(5px);
  box-shadow: 0 3px 0.5rem lightskyblue;
}

