body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Aboreto', cursive;
  color: lightpink;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 30rem;
  display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%; text-align: center;
  background: black;
}

h2{
  display: flex;align-items: center;justify-content: center;flex-direction: column; width: 100%; text-align: center;
  margin-right: 5rem;
  background-color: black;
}

html,
body
{
  background-color: lightpink;
}

.light {
  background-color: black;
  color: fuchsia;
}

.show {
 background-color: black;
  box-sizing: border-box;
  color: lightpink;
  border-color: plum;
  border-style: dotted;
  border-radius: 2rem;
  font-size: 15px;
  margin-left: 60rem;
  margin-bottom: 25rem;
  padding: 25px 30px;
 position: absolute;
}

.show:hover {
  background-color: black;
  color: fuchsia;
 cursor: grab;
 transform: scale(1);
 font-size: large;
 border-style: dotted;
 border-color: fuchsia;
}

.show:before {
  background-color: var(--button-color1);
  position: absolute;
  border-radius: 2rem;
  transition: background-color 400ms ease-in;
  width: 100%;
}
.pte{
  width: 2rem;
  margin-right: 45rem;
  margin-top: 20rem;
}
 @keyframes pte {
to{
  transform: scale(1.1);
}
}